.search__bar {
  padding: 10px;
  display: flex;
  align-items: center;
  color: gray;
  background-color: #eef3f8;
  width: 50%;
  margin: 40px auto;
  height: 40px;
}

.search__bar > input {
  outline: none;
  border: none;
  background: none;
  font-size: 20px;
}
